.jumbotron {
  margin: 7% auto;
  text-align: center;
}

td {
  height: 150px;
  width: 150px;
  text-align: center;
  border: 4px solid black;
  font-size: 100px;
  font-family: "Varela Round", sans-serif;
}

table {
  margin: auto auto;
}
